- var app_root = "/ib-react/app";

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='Inkbunny React client')
    meta(name='keywords', content='inkbunny')
    meta(name='author' content='Hoya Kim.')
    meta(name="referrer" content="https://inkbunny.net")

    // ## CDN stylesheets
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css')
    link(rel='stylesheet', href='#{app_root}/common/css/app.css')

    // ## CDN javascripts
    script(src='https://cdn.jsdelivr.net/core-js/2.0.3/core.min.js')
    script(src='https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js')
    script(src='https://cdn.jsdelivr.net/requirejs/2.1.22/require.min.js')

    script(src='#{app_root}/common/js/app.js')

    //link(rel="icon" type="image/ico" href="#{app_root}/assets/img/favicon.ico")

    block page_head

    // Page specific css
    block page_css

  body
    block content

    // Page specific javascripts
    block page_js
